/* Fontes personalizadas */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Estilos globais */
body {
    background-color: #f7f7f7;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

h1 {
    font-family: "Press Start 2P", cursive;
    font-size: 48px;
    margin: 0;
    text-shadow: 2px 2px #333;
}

main {
    text-align: center;
    padding: 20px;
}

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid #333;
}

button {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #444;
}

#restartButton {
    margin-top: 20px;
}